<!-- interpolation of variable in our html -->
<h1>{{helloMessage}}</h1>

<!--  -->
<h3 [ngClass]="isFirstTime ? 'firstTime' : 'notFirstTime'">First Time Visitor</h3>


<ng-template [*ngIf]="loggedIn" [*ngIfElse]="loggedOut">

    <div>
        <ng-template>Logged In</ng-template>
    </div>

</ng-template>

<ng-template #loggedOut>
    <h2>Sign Up</h2>
</ng-template>
<!-- this is how we define a function -->
<div (click)="sayHello()">Hi 😊</div>

<!-- this value is received from the parent (app component) -->
<h4>{{ emojiObject.value }}</h4>

<h3 *ngFor="let emo of listItems; let i=index">{{i}}. {{emo.value}}</h3>
<!-- databinding -->
<img alt="Testing" [src]="imageUrl" />
<!-- databinding -->
<button [disabled]="!loggedIn">Log Off</button>